.pending-div {
}
.pending-btn {
  width: 210px;
  height: 100px;
  border-radius: 10px;
  color: white;
  border: none;
}
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
.bg-yellow {
  background-color: yellow;
}
