.appointment-container {
  position: relative;
  width: 100%;
  height: 410px;
  border: 1px solid red;
  margin: auto;
  background-image: url("../../../images/appointment-Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -50;
  color: white;
  border: 5px solid red;
}
.appointment-container img {
  height: 520px;
  transform: translateY(-120px);
}
.appointment-container::after {
  height: 400px;
  content: " ";
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  background-color: rgb(58, 66, 86);
  z-index: -50;
  opacity: 0.8;
}
.doctor-appointment {
  margin-top: 150px;
}
.appointment-details {
  margin-top: 40px;
}
